# Core data/EDA
pandas
numpy
matplotlib
seaborn

# Modeling / utilities
scikit-learn
faiss-cpu
chromadb
sentence-transformers
langchain-text-splitters
progressbar2
pytest

# UI options
streamlit
gradio
